/*! THE POST CONTENT */
.postText {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#postPage {
  /* width: 800px; */
  /* display: flex;
  justify-content: center; */
}

#postPage .card-footer {
  background-color: #ffffffb2;
  /* color: red !important;
  font-size: larger; */
}

.postContent {
  /* width: 450px; */
  position: relative;
  padding-bottom: 25px;
}
.postContainer {
  padding-top: 115px;
  padding-bottom: 125px;
  overflow: scroll;
}

/* !Dashboard Create Post */
.postCard {
  margin: 50px;
}
/* ! */

/* !FOOTER BAR */

.footerBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  font-size: small;
}
/* ! */

#postPage label {
  /* color: rgb(255, 255, 255) !important;
  font-weight: bolder; */
  /* background-color: none !important; */

  /* font-family: Arial; */
}

/* .md-form.md-outline .form-control {
  padding: 1.25rem 1rem;
} */
/* .card .card-body .card-text{
  text-overflow: ellipsis !important;
} */
