#post-details {
  .postContainer {
    padding-top: 65px;
    padding-bottom: 125px;
  }

  .card-body {
    padding: 10px;
    position: relative;
  }

  .post-details-card {
    background-color: ghostwhite;
  }
  .post-link {
    color: #848383;
  }
  .post-link:hover {
    text-decoration: underline;
  }
  .card-text {
    line-height: 1.5;
  }
  .img-box {
    display: flex;
    justify-content: center;
  }

  .post-info-time {
    display: flex;
    flex-direction: column;
  }

  /* !FOOTER BAR */

  .footer-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    font-size: small;
    background-color: ghostwhite;
    .heart-purple {
      color: black;
    }
    .heart-red {
      color: rgb(255, 66, 66);
    }
    .star-black {
      color: black;
    }
    .star-yellow {
      color: #f3d774;
    }
  }
}
