.post-card {
  width: 720px;
  height: 100%;
  margin: 20px auto;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.199);
  border: 1px solid ghostwhite;
  border-radius: 5px;
  position: relative;
  display: block;
  text-align: center;
  padding: 10px;
  background: ghostwhite;
  z-index: -1;
  .users-name {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 1.1rem;
  }
  .time {
    position: absolute;
    top: 2.2rem;
    left: 70px;
    font-size: 1rem;
  }
  .title {
    position: relative;
    text-align: left;
    margin-left: 250px;
    font-weight: 400;
    font-size: 1.8rem;
  }
  .post-content {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
    position: relative;

    display: -webkit-box;
    max-width: 100%;
    height: 140px;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .post-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), ghostwhite);
    z-index: 20;
  }
  .post-picture {
    margin-top: 20px;
    height: 330px;
    width: auto;
  }
  .likes {
    text-align: left;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 5px;
    .icon-box {
      width: 150px;
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      .heart-purple {
        color: black;
      }
      .heart-red {
        color: rgb(255, 66, 66);
      }
    }
    .star-black {
      color: black;
    }
    .star-yellow {
      color: #f4d673;
    }
  }
}

.post-card:hover {
  border: 1px solid #2bbbad;
  cursor: pointer;
}

@media (max-width: 740px) {
  .post-card {
    width: 95%;
  }
  .post-content {
    width: 98%;
  }
  .post-picture {
    max-width: 98%;
    height: 200px;
  }
  .title {
    margin: 0 auto !important;
    margin-top: 55px !important;
    text-align: center;
  }
}
