.header-meetup-dash {
  .meetup-dash-icon {
    font-size: 5rem;
    margin: 1rem;
    padding: 0;
    color: white;
  }
  .meetups-header-text {
    font-size: 4rem;
    color: white;
  }
  @media (max-width: 600px) {
    .meetups-header-text {
      display: none;
    }
    .post-meetup-btn {
    }
  }
}

.blur2 {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 4;
  background: rgba(0, 0, 0, 0.281);
}

.newPost {
  background: rgba(248, 248, 255, 0.925);
  width: 720px;
  margin: auto;
  position: fixed;
  margin-top: 20px;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.199);
  border-radius: 5px;
  padding: 20px;
  padding-top: 35px;
  top: 40px;
  left: 50%;
  margin-left: -360px;
  z-index: 20;
}

.cancel {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .newPost {
    width: 80vw;
    height: 90vh;
    margin: 0;
    left: 2.5rem;
    top: 40px;
  }
}
