#meetup-post-details {
  .cssIcon {
    font-size: 7rem;
    margin: 0.3rem;
    padding: 0;
    color: white;
  }
  .CssText {
    font-size: 4rem;
    color: white;
  }
  .meetUpText {
    color: white;
    margin-left: 1rem;
  }
  @media (max-width: 600px) {
    .CssText {
      display: none;
    }
  }
  .post-container {
    margin-top: 75px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .post-details-card {
    // margin: 50px;
    background-color: ghostwhite;
    height: 75vh;
    width: 75vw;
    overflow: scroll;
    // height: 800px;
    // width: 800px;

    .meetup_img_card {
      width: 35vw;
      height: 40vh;
    }
    .mapAndPic {
      width: auto;
      justify-content: space-evenly;
      margin-top: 0;
    }

    @media (max-width: 768px) {
      .meetup_img_card {
        width: 100vw;
      }
      .desktop-meetup-btn {
        display: none;
      }
      .meetup-details {
        padding-top: 50px;
      }
    }
    @media (min-width: 768px) {
      .mobile-meetup-btn {
        display: none;
      }
    }
  }

  .meetDeets {
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }
  .card-text {
    line-height: 1.5;
  }

  /* !FOOTER BAR */

  .footer-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    // ?
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: flex-end;
    // align-items: center;
    // align-content: stretch;
    // *
    font-size: small;
    background-color: ghostwhite;
  }
}

/*! THE POST CONTENT */

/* ! */

#post-details label {
  /* color: rgb(255, 255, 255) !important;
  font-weight: bolder; */
  /* background-color: none !important; */

  /* font-family: Arial; */
}

/* .md-form.md-outline .form-control {
  padding: 1.25rem 1rem;
} */
/* .card .card-body .card-text{
  text-overflow: ellipsis !important;
} */
