pre, code {
  background: lightgray;
  font-family: 'Courier New', Courier, monospace;
  /* width: 50%; */
  color: black;
  overflow-y: hidden;
  /* overflow: hidden; */
  margin: 3px;
  padding: 3px;
  line-height: 1.1;
}
p {
  line-height: 1.2;
}