.footer {
  display: flex;
  justify-content: center;
}
.devs {
  max-height: 16vh;
  border-radius: 3%;
  padding: 0.5rem;
  display: 'flex';
  flex-direction: 'row';
  margin: '0 auto';
  align-content: center;
  color: #2bbbad;
}

.cards {
  transition: transform 2s;
}

.cards:hover {
  transform: scale(1.03);
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1573295918221-c650d1990fc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80');
  height: 95vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingText {
  font-size: 10rem;
  color: whitesmoke;
}
