@media (max-width: 375px) {
  .cardsContainer {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cards {
    max-width: 15rem;
    margin: 2.3rem;
  }

  .linkText {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: black;
  }
}
