#signin {
  .view {
    background-image: url("../../assets/./laptop2.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  h6 {
    line-height: 1.7;
  }
  .sign-in-card {
    background-color: rgba(0, 0, 0, 0.808);
    height: auto;
  }
  .sign-in-card-btn {
    background-color: rgba(0, 0, 0, 0.808);
    height: auto;
  }
}

/* !KEEP FOR LOG/REG MOBILE */

@media (max-width: 768px) {
  .h6-login {
    display: none;
  }
  hr {
    display: none;
  }
  .h1-responsive {
    display: none;
  }
  .signInBtn {
    position: absolute;
    bottom: 0;
  }
}