#signin {
  .view {
    // background-image: url("../../assets/./laptop.jpg");
    // background-image: url("../../assets/./laptopShoe.jpg");
    // background-image: url("../../assets/./appleCode.jpg");
    background-image: url("../../assets/./laptop2.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
#classic-card {
  background-color: rgba(0, 0, 0, 0.808);
  height: auto;
}


// #classicformpage h6 {
//   line-height: 1.7;
// }

/* #classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
} */

/* #classicformpage .top-nav-collapse {
  background: #424f95 !important;
} */

/* !KEEP FOR LOG/REG MOBILE */
@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    /* background: #424f95 !important; */
  }
  // #classic-card {
  //   background-color: none !important;
  //   height: auto;
  // }
  
  .h6-login {
    display: none;
  }
  hr {
    display: none;
  }
  .h1-responsive {
    display: none;
  }
  .signInBtn {
    position: absolute;
    bottom: 0;
  }
}

// #classicformpage label {
//   color: rgb(240, 0, 0) !important;
// }
