#sign-up {
  .view {
    // background-image: url("../../assets/./laptop.jpg");
    // background-image: url("../../assets/./laptopShoe.jpg");
    background-image: url("../../assets/./laptop2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  h6 {
    line-height: 1.7;
  }
  .sign-up-card {
    // background-color: rgba(90, 90, 90, 0.808);
    background-color: rgba(0, 0, 0, 0.808);
    height: auto;
  }
  .sign-up-card-btn {
    // background-color: rgba(90, 90, 90, 0.808);
    background-color: rgba(0, 0, 0, 0.808);
    // background-color: rgba(0, 0, 0, 0);
    height: auto;
  }
  /* !KEEP FOR LOG/REG MOBILE */
  @media (max-width: 768px) {
    .h6 {
      display: none;
    }
    hr {
      display: none;
    }
    .h1-responsive {
      display: none;
    }
    .signInBtn {
      position: absolute;
      bottom: 0;
    }
    // .sign-up-card-btn {
    //   background-color: none;
    // }
    
  }
}

// #classicformpage label {
//   color: #fff !important;
// }
