.App {
  text-align: center;
}
@import './reset';
@import './variable.scss';
body {
  background-color: #e1e2e1;
}
.app-container {
  position: relative;
  z-index: -2;
}
#root {
  position: relative;
  z-index: -3;
}
body {
  position: relative;
  z-index: -4;
  padding-top: 50px;
}

* {
  @include scrollbar;
}
.hide-slide {
  position: relative;
  z-index: -5;
}

